<div class="col-md-8">
  <div class="panel panel-gray">
    <div class="panel-heading">
      <h3 class="panel-title">Kullanıcı Güncelle</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" method="post" name="form" id="form" action="/admin/user/edit">
        <div class="form-group">
          <label class="col-sm-2 control-label">Sistem Numarası</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="us_id" maxlength="6" value="<%= data.us_id %>">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Kullanıcı Adı</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="username" maxlength="30" value="<%= data.username %>">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">İsim</label>
          <div class="col-sm-10">
            <input type="text" class="form-control bg-red" name="name" maxlength="30" value="<%= data.name %>">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Soyisim</label>
          <div class="col-sm-10">
            <input type="text" class="form-control bg-red" name="surname" maxlength="30" value="<%= data.surname %>">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">E-Posta</label>
          <div class="col-sm-10">
            <input type="text" class="form-control bg-red" name="email" maxlength="30" value="<%= data.email %>">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Telefon</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="phone" maxlength="11" value="<%= data.phone %>">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <div class="checkbox checkbox-default">
              <input id="passwordUpdate" name="passwordUpdate" type="checkbox" value="1" />
              <label for="passwordUpdate">Şifreyi güncelle</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Şifre</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password" id="password" maxlength="40" readonly="readonly">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Şifre (Tekrar)</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password1" id="password1" maxlength="40" readonly="readonly">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Grubu</label>
          <div class="col-sm-10">
            <select class="form-control" name="group">
              <option value="">Lütfen seçiniz...</option>
              <% group.forEach(function (item) { %>
                <option value="<%= item.id %>" <% if (data.group === item.id){%> selected <%}%>><%= item.name %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Yetkisi</label>
          <div class="col-sm-10">
            <select class="form-control" name="authority">
              <option value="">Lütfen seçiniz...</option>
              <option value="0" <% if (data.authority == 0){%> selected <%}%>>Kullanıcı</option>
              <option value="1" <% if (data.authority == 1){%> selected <%}%>>Editör</option>
              <option value="2" <% if (data.authority == 2){%> selected <%}%>>Admin</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Açıklama</label>
          <div class="col-sm-10">
            <textarea class="form-control" name="description" rows="5"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <div class="checkbox checkbox-default">
              <input id="status" <% if (data.status == 1){%>checked="checked" <%}%> name="status" type="checkbox" value="1" />
              <label for="status">Aktif</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <button type="button" class="btn btn-danger btn-sm" id="saveButton" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Kaydediyor..."> Kaydet</button>
            <a href="/admin/users" class="btn btn-sm btn-default">İptal</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-gray">
    <div class="panel-heading">
      <h3 class="panel-title">Yardım</h3>
    </div>
    <div class="panel-body">
      Değişecek
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Kapat"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-title"></h4>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm" data-dismiss="modal" aria-label="Kapat" id="modal-button"></button>
      </div>
    </div>
  </div>
</div>

<script>
  io.socket.on('event', function (data, err) {
    if (data.modal) {
      $('#modal-title').html(data.title);
      $('#modal-body').html(data.message);
      $('#myModal').modal('show');
      if(data.type == 'err')
      {
        $('#saveButton').button('reset');
        $('#modal-button').removeClass('btn-success');
        $('#modal-button').addClass('btn-danger');
        $('#modal-button').html('Anladım');
      }
      else
      {
        $('#saveButton').button('reset');
        $('#modal-button').removeClass('btn-danger');
        $('#modal-button').addClass('btn-success');
        $('#modal-button').html('Tamam');
      }
    }
  });

  $('#passwordUpdate').change(function () {
    if ($('#passwordUpdate').is(':checked')) {
      $('#password').removeAttr('readonly');
      $('#password1').removeAttr('readonly');
    }
    else {
      $('#password').attr('readonly', 'readonly');
      $('#password1').attr('readonly', 'readonly');
    }
  });

  if ($('#passwordUpdate').is(':checked')) {
    $('#password').removeAttr('readonly');
    $('#password1').removeAttr('readonly');
  }

  
  $('#saveButton').click(function(e) {
    e.preventDefault();
    $('#saveButton').button('loading');
    // loadash ile formdaki butun name ve value degerlerini serialize ettim.
    var data = $('form').serializeArray().reduce((o, { name, value }) => ({ ...o, [name]: value }), {});
    // socket ile post ettiriyorum.
    io.socket.post('/admin/user/edit/<%= data.id %>', data, function (resData, jwRes) {
      console.log(jwRes.statusCode);
      console.log(resData);
    });
  });
</script>
