<div class="col-md-12">
  <div class="panel panel-gray">
    <div class="panel-heading">
      <h3 class="panel-title">Gruplar</h3>
    </div>
    <div class="panel-body">
      <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>ID</th>
          <th>İsim Soyisim</th>
          <th>E-Posta</th>
          <th>Grup</th>
          <th>Aktif/Pasif</th>
          <th>Düzenle</th>
          <th>Sil</th>
        </tr>
        </thead>
        <tbody>
        <% data.forEach(function(item){ %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.name %> <%= item.surname %></td>
            <td><%= item.email %></td>
            <td><%= item.group.name %></td>
            <% if(item.status == 1) {%>
              <td align="center" style="width: 100px;"><a href="/admin/user/status/<%= item.id %>/0" class="btn btn-xs btn-success">Aktif</a></td>
            <% } else { %>
              <td align="center" style="width: 100px;"><a href="/admin/user/status/<%= item.id %>/1" class="btn btn-xs btn-danger">Pasif</a></td>
            <% } %>
            <td align="center" style="width: 100px;"><a href="/admin/user/edit/<%= item.id %>" class="btn btn-xs btn-success">Düzenle</a></td>
            <td align="center" style="width: 100px;" id="confirm"><a href="/admin/user/destroy/<%= item.id %>" class="btn btn-xs btn-danger">Sil</a></td>
          </tr>
        <%}); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Kapat"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-title"></h4>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm" data-dismiss="modal" aria-label="Kapat" id="modal-button"></button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#confirm a').click(function(event) {
    event.preventDefault();
    var r=confirm("Geri dönüşü olmayacak şekilde silinecektir, devam etmek istediğinize emin misiniz?");
    if (r==true)   {
      window.location = $(this).attr('href');
    }

  });
</script>
